@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model ASP_NET_Razor_Page_Work_DB.Pages.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electrical Elements Dictionary</title>
</head>
<body>
    <h1>Welcome to Electrical Elements Dictionary</h1>
    <p><a asp-page="ElectricalElements/ElectricalElementsList">Go to electrical elements list</a></p>
</body>
</html>